<!DOCTYPE html>
<html>

<head>
    <!-- Set the page title dynamically if 'title' is provided, otherwise show a default -->
    {# This is another way to comment #}
    {% if title %}
    <title>{{ title }} - MicroBlog</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}
</head>

<body>
    <!-- Displaying Navigation bar -->
    <nav>MicroBlog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>
    <!-- Printing out the messages in a uniform list format -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>